body{
    font-family: 'Open Sans';
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-rows: auto 1fr;
}

.cadastroUsuario-opcoesCadastro{
    grid-row: 1/2;
    height: 100%;
    background-color: #fff;
    padding: 0;
}

.cadastroUsuario-opcoesCadastro a{
    display: block;
    text-decoration: none;
    color: #9E9E9E;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    padding: 1.5rem 1.5rem;
}

.cadastroUsuario-opcoesCadastro a:hover{
    background: rgba(64, 123, 255, 0.3);
    color: #407BFF;
    outline: 1px dotted #407BFF;
    outline-offset: -1px;
}

.cadastroUsuario-cadastroContainer{
    grid-row: 2/3;
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    padding: 3rem 2rem;
    margin: 40px 5px;
}

.cadastroUsuario-cadastroContainer h1{
    font-size: 24px;
    color: #263238;
}

.cadastroUsuario-cadastroContainer input{
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    height: 40px;
    padding-left: 1rem;
    width: 100%;
    margin: 14px 0;
}

.cadastroUsuario-cadastroContainer input:focus{
    outline: none;
    box-shadow: 0 0 0 1.5px #E1E1E1;
}

.calculadoraUsuario-descricaoSenha{
    font-size: 12px;
    color: #407BFF;
    line-height:  16px;
    max-width: 390px;
}

.cadastroUsuario-inputContainer > div{
    display: flex;
    flex-flow: column;
}

.cadastroUsuario-inputContainer > div input{
    width: 100%;
}

button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    text-transform: uppercase;
}

.cadastroUsuario-botaoCadastrar{
    background-color: #191970;
    color: #fff;
    border: none;
    margin: .5rem
}

.cadastroUsuario-botaoCancelar{
    background-color: #fff;
    color: #DF5753;
    border: 1px solid #DF5753;
    margin: .5rem;
}

@media (min-width: 427px){
    .cadastroUsuario-cadastroContainer{
        margin: 40px;
    }
}

@media (min-width: 551px){
    .cadastroUsuario-inputContainer > div{
        flex-flow: row;
        justify-content: space-between;
    }

    .cadastroUsuario-inputContainer > div input{
        width: 48%;
    }
}

@media (min-width: 834px) {
    main{
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
    }

    .cadastroUsuario-opcoesCadastro{
        grid-area: 1/1/2/2;
    }
    
    .cadastroUsuario-cadastroContainer{
        grid-area: 1/2/2/3;
    }
}

@media (min-width: 941px){
    .cadastroUsuario-buttonContainer{
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
    }
}