body{
	font-family: 'Open Sans', sans-serif;
	color: #9E9E9E;
}

section{
	margin: 25px 0;
}

.calculadora-titulo{
	font-weight: bold;
	font-size: 45px;
	line-height: 75px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #263238;
}

.calculadora-texto{
	font-size: 20px;
	line-height: 25px;
	letter-spacing: -0.015em;
	margin: auto 10%;
}

/* Frase contendo o input de quilometragem */
.calculadora-inputKmContainer{
	margin: 1.5em 10%;
	font-size: 14px;
}

.calculadora-inputKm{
	width: 55px;
	height: 35px;
	border-radius: 10px;
	border: 1px solid #E1E1E1;
	color: #9E9E9E;
	padding: 0 5px;
	margin: 2px 3px;
}

.calculadora-inputKm::placeholder{
	font-size: 13px;
	color: #9E9E9E;
}


/* Alterando o display flex column para organizar os inputs */
.calculadora-flexColumnContainer{
	display: flex;
	flex-flow: column;
	align-items: center;
}

.calculadora-subtitulo{
	font-weight: 600;
	font-size: 16px;
	color: #263238;
	margin: 1em auto;
}

.calculadora-select, .calculadora-input{
	width: 400px;
	height: 50px;
	margin: 10px 0;
	border-radius: 10px;
	border: 1px solid #E1E1E1;
	padding-left: 15px;
	color: #9E9E9E;
}

/* Destacando o input quando estiver em foco */
.calculadora-input:focus, .calculadora-inputKm:focus, .calculadora-select:focus{
	outline: none;
	box-shadow: 0 0 0 1.5px #E1E1E1;
}

.calculadora-input::placeholder{
	color: #9E9E9E;
}

.calculadora-iconeInfo{
	margin: auto 2px;
	cursor: pointer;
	width: 20px;
}

/* A classe .correcao-buttonContainer tem a finalidade de corrigir posições e larguras da classe .index-buttonContainer */

.correcao-button{
	margin: 4em auto;
}


/* Aumentando a separação dos containers dos inputs quando mudam de 2 para 1 coluna */
@media (max-width: 1200px){
	section .calculadora-flexColumnContainer:nth-child(2){
		margin-top: 100px;
	}
}

/* Ajustando a margem da frase contendo input Km */
@media (min-width: 1200px){
	.calculadora-inputKmContainer{
		margin-left: 17%;
	}

	.correcao-button{
		width: 400px;
	}
	
}


/* Estilização do modal */
.modal-fade-transform{
	transform: translate(0, -50px);
	transition: transform .3s ease-out;
}

.modal-title{
	color: #263238;
}

.btn{
	background-color: #191970;
}

.btn:hover{
	background-color: rgba(25, 25, 112, .8);
}
