body{
	font-family: 'Open Sans', sans-serif;
	color: #9E9E9E;
}

section{
	margin: 25px 0;
}

.calculadora-titulo{
	font-weight: bold;
	font-size: 45px;
	line-height: 75px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #263238;
}

.calculadora-texto{
	font-size: 20px;
	line-height: 25px;
	letter-spacing: -0.015em;
	margin: auto 10%;
}


/* Alterando o display flex column para organizar os inputs */
.calculadora-flexColumnContainer{
	display: flex;
	flex-flow: column;
	align-items: center;
}

.calculadora-input{
	height: 50px;
	width: 400px;
	border-radius: 10px;
	border: 1px solid #E1E1E1;
	margin: 10px 0;
	padding-left: 15px;
	color: #9E9E9E;
}

/* Destacando o input quando estiver em foco */
.calculadora-input:focus{
	outline: none;
	box-shadow: 0 0 0 1.5px #E1E1E1;
}

.calculadora-input::placeholder{
	color: #9E9E9E;
}

.calculadora-km{
	display: flex;
	justify-content: space-between;
}

.calculadora-km input{
	width: 45%;
}

.calculadora-km input::placeholder{
	font-size: 15px;
}

.calculadora-span{
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.015em;
	color: #407BFF;
	margin-top: 50px;
}

/* A classe .correcao-buttonContainer tem a finalidade de corrigir posições e larguras da classe .index-buttonContainer */

.correcao-buttonContainer{
    width: 70vw;
}

.correcao-buttonContainer button{
    width: 56vw;
}

/* Div com a seta '>' */

.correcao-buttonContainer div{
    width: 20vw; 
}

/* Ajuste da posição e tamanho da '>' */

.correcao-buttonContainer img{
    right: 3vw; 
}

/* Ajustando o tamanho do botão 'CALCULAR' para tamanhos de tela maiores que 576px */

@media (min-width: 576px){
    .correcao-buttonContainer{
        width: 65vw;
    }

	.correcao-buttonContainer button{
		width: 55vw; 
	}
}

/* Ajustando o tamanho do botão 'CALCULAR' para tamanhos de tela maiores que 768px */

@media (min-width: 768px){
    .correcao-buttonContainer{
        right: 25px; 
		width: 500px;
    }

	.correcao-buttonContainer button{
		width: 400px; 
	}

	.correcao-buttonContainer div{
        width: 70px;
    }

	.index-buttonContainer img{
        right: 20px;
    }
}

/* Aumentando a separação dos containers dos inputs quando mudam de 2 para 1 coluna */
@media (max-width: 1200px){
	section .calculadora-flexColumnContainer:nth-child(2){
		margin-top: 80px;
	}
}