@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

/* Display flex na primeira coluna para organizar o titulo os paragrafos e o botão */

.index-coluna1{
    display: flex;
    flex-flow: column;
    padding: 0 70px;
    margin-top: 20px;
}

/* Estilização do titulo */

.index-coluna1 h1{
    font-size: 45px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -0.015em;
    color: #263238;
}

/* Estilização do paragrafo */

.index-coluna1 p{
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin: 10px 30px 10px 0;
}

/* Estilização do container que contém o botão e a div '>' */

.index-buttonContainer{
    position: relative;
    margin-top: 35px;
    width: 50vw;
    cursor: pointer;
    text-decoration: none;
}

/* Estilização do botão 'INICIE AGORA */

.index-button{
    height: 50px;
    width: 41.8vw;
    background-color: #191970;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
}

/* Div com a seta '>' */

.index-buttonContainer div{
    position: absolute;
    top: 0px;
    right: 1.8vw;
    width: 8vw;
    height: 50px;
    background-color: rgba(25, 25, 112, .5);
    border-radius: 0px 10px 10px 0px;
}

/* Ajuste da posição e tamanho da '>' */

.index-buttonContainer img{
    position: absolute;
    right: 2.5vw;
    margin: 12.5px auto;
}

/* Centralizando a imagem do carro */

.index-img{
    margin: 50px 0;
    width: 100vw;
}


/* Ajustando o tamanho do botão 'INICIE AGORA' para tamanhos de tela maiores que 576px */

@media (min-width: 576px){
    .index-buttonContainer{
        width: 50vw;
    }

    .index-button{
        width: 42.5vw;
    }
    
    .index-buttonContainer div{
        right: .8vw;
        width: 8vw;
    }
}

/* Ajustando o tamanho do botão 'INICIE AGORA' para tamanhos de tela maiores que 768px */

@media (min-width: 768px){
    .index-buttonContainer{
        display: flex;
        justify-content: center;
        right: 50px;
        width: 500px;
    }

    .index-button{
        width: 400px;
    }
    
    .index-buttonContainer div{
        right: 0px;
        Width: 70px;
    }

    .index-buttonContainer img{
        right: 20px;
    }
}

/* Ajustando o tamanho da imagem do carrinho para tamanhos de tela entre 992px e 1200px */

@media (min-width: 992px) and (max-width: 1199.98px){
    .index-img{
        width: 70vw;
    }
}

/* Ajustando a posição da seção do conteúdo para tamanhos de tela maiores que 1200px */

@media (min-width: 1200px){
    .index-section{
        transform: translateY(20%);
    }

    .index-coluna1{
        position: relative;
        bottom: 70px;
        margin-top: 0;
    }
}


/* reduzindo a largura do titulo e dos paragrafos para tamanhos de tela maiores que 1400px */

@media (min-width: 1400px){
    .index-coluna1 h1{
        padding-right: 70px;
    }

    .index-coluna1 p{
        padding-right: 90px;
    }
}


/* Estilizando Modal */
.modal-content{
    border-radius: 20px;
}

.modal-header, .modal-footer{
    border: none;
}

.modal-title{
    font-size: 45px;
    color: #263238;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-body{
    margin: 30px 25px 20px 25px;
    color: #9E9E9E;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
}

.botaoModal{
    width: 45%;
    margin: 50px 15px;
}

.botaoModal button{
    width: 70%;
    font-size: 12px;
    z-index: 1;
}

.botaoModal div{
    width: 40%;
}

@media (max-width: 991.9px){
    .modal-footer{
        flex-flow: column;
    }

    .botaoModal{
        width: 90%;
        margin: 20px 0px;
    }

    .botaoModal button{
        width: 85%;
    }
    
    .botaoModal div{
        width: 20%;
    }
}

@media (min-width: 768px) and  (max-width: 991.9px){
    .botaoModal{
        margin-left: 55px;
    }

    .botaoModal button{
        width: 80%;
    }
}