@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("../../src/Public/img/fundo.jpeg");
    background-size: cover;
    background-position: left;
    font-family: 'Open Sans';
}

.login-coluna1{
    display: flex;
    flex-flow: column;
    margin: 50px auto;
}

.login-coluna1 h1{
    font-size: 45px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -0.015em;
    color: #263238;
}

.login-coluna1 p{
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin: 15px 30px 30px 0;
}

.img-Group{
    position: relative;
    right: 40px;
}

.login-coluna2{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 530px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 50px auto;
}

h4{
    margin: 35px auto;
    color: #263238;
    font-size: 40px;
    line-height: 65px;
}

.login-input{
    width: 100%;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #E1E1E1;
	padding-left: 15px;
	color: #9E9E9E;
}

.login-input:focus{
	outline: none;
	box-shadow: 0 0 0 1.5px #E1E1E1;
}

.login-input::placeholder{
	color: #9E9E9E;
}

.login-esqueciSenha{
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px; 
}

.login-button{
    height: 50px;
    width: 100%;
    background-color: #191970;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
} 

.login-cadastroContainer{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.login-cadastro{
    color: #9E9E9E;
    font-weight: 600;
    margin-right: 8px;
}

.cadastrar-usuario {
    text-decoration: underline;
    color: #407BFF;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 576px){
    .login-coluna1{
        width: 80vw;
    }

    .login-coluna2{
        width: 80vw;
    }
}

@media (min-width: 576px){
    .login-coluna1{
        padding: 0 70px;
    }

    .login-coluna2{
        width: 400px;
    }
}

@media (min-width: 1200px){

    .login-coluna1{
        margin-top: 20px;
    }

    .login-coluna2{
        margin: 17px auto auto 130px;
    }
}