@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Grid Layout do template base */

body{
    display: grid;
    grid-template-rows: 70px minmax(85.5vh, 1fr) auto;
}

.template-header{
    grid-row: 1/2;
}

.template-main{
    grid-row: 2/3;
}

.template-footer{
    position:absolute;
    bottom:0;
    width:100%;
    max-height: 30px;
}


/* Estilização dos elementos do template base */

/* Navegador contendo logotipo e o ícone de configuração */
.template-navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #191970;
    height: 70px;
}

/* Logotipo EletriCharge */
.template-logo{
    position: absolute;
    width: 111px;
    height: 29px;
    left: 16px;
    top: 23px;
}

/* icone de configuração (engrenagem) */
.template-config{
    position: absolute;
    top: 17px;
    right: 0.97%;
}

/* Estilização do footer */
.template-footer{
    background: #191970;
}


/* Estilização do parágrafo do footer */
.template-footer p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #C4C4C4;
    padding-top: 5px;
}

/* Alterando o comprimento da linha do footer para 25px */

@media (min-width: 410px){
    body{
        grid-template-rows: 70px minmax(85.5vh, 1fr) 25px;
    }
}